<div class="container">
    <h1 class="headline">Document Dashboard</h1>
    <div *ngIf="documents">
    <div class="card container"  *ngFor="let doc of documents">
        <img src="https://images.unsplash.com/photo-1620344527458-28900b32d695?q=80&w=1331&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="image card-img-top" width="50%">
        <div class="card-body">
            <h4 class="card-title">{{doc.title}}</h4>
            <p class="card-text">{{doc.content}}</p>
            <button class="btn btn-primary" href="{{doc.file_url}}" >Download File</button>
            <p class="card-text"> {{doc.updated_at | date}}</p>
            <!-- <p class="card-text"> {{doc.image_url}}</p> -->
        </div>
    </div>
</div>
</div>

